{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<form id="login" class="col-lg-6">
    <h1 class="mb-3">
        Login
    </h1>
    <div class="alert alert-danger d-none" role="alert" id="message">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" name="remember" class="form-check-input" id="remember">
      <label class="form-check-label" for="remember">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}

{% block foot %}
<script> 
    document
        .getElementById("login")
        .addEventListener("submit", (e) => {
            e.preventDefault();

            const data = Object.fromEntries(new FormData(e.target).entries())

            fetch('/api/user/login', {
                method: 'POST',
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(data)
            })
                .then(result => {
                    if (result.ok) {
                        location.href = '/booking'
                        return
                    }

                    if (result.status === 401) {
                        const message = document.getElementById('message')
                        message.innerHTML = "Invalid credentials, please enter valid username and password or sign up"
                        message.classList.remove('d-none')
                        return
                    }
                })
        });
</script> 
{% endblock %}